@import "tailwindcss";
@import './custom.css';

/* Hide Alpine elements before Alpine.js initializes */
[x-cloak] {
    display: none !important;
}
.background-image {
    background-image: radial-gradient(#333 8%, transparent 8%);
    background-size: 20px 20px;
    background-color: #000;
}