[x-cloak] {
    display: none;
}
:root {
    --light: #f8f9fa;
    --white: #fff;
    --blue: #007bff;
    --fontFamily: 'Roboto', sans-serif;
    --pinkColor: #e91e63;
    --primaryColor: #007bff;
    --blueColor: var(--primaryColor);
    --blueColorLow: #007bff77;
    --orangeColor: #fe6f02;
    --lightOrangeColor: #F4B716;
    --darkColor: #37495d;
    --lightDarkColor: #1d2839;
    --infoColor: #00BCD4;
    --main-color: var(--lightDarkColor);
    --btnColor: #34495E;
    --btnHoverColor: #2f3e50;
    --contentBgColor: #34373a;
    --contentBgColorH: #dddddd4a;
  }