[x-cloak] {
    display: none;
}

/* Custom CSS Variables */
:root {
    --light: #f8f9fa;
    --white: #fff;
    --blue: #007bff;
    --fontFamily: 'Roboto', sans-serif;
    --pinkColor: #e91e63;
    --primaryColor: #007bff;
    --blueColor: var(--primaryColor);
    --blueColorLow: #007bff77;
    --orangeColor: #fe6f02;
    --lightOrangeColor: #F4B716;
    --darkColor: #37495d;
    --lightDarkColor: #1d2839;
    --infoColor: #00BCD4;
    --main-color: var(--lightDarkColor);
    --btnColor: #34495E;
    --btnHoverColor: #2f3e50;
    --contentBgColor: #34373a;
    --contentBgColorH: #dddddd4a;
    --sidebarWidth: 250px;
    --db-border: 1px solid #0001;
    --light-gray: #ebebeb;
    --switch-bg: var(--light-gray);
    --switch-bg-checked: var(--light-gray);
    --switch-circle: var(--darkColor);
    --switch-circle-checked: var(--darkColor);
    --switch-width: 40px;
    --switch-height: 20px;
    --content-color: #262626;
}



 .bg-checkerboard {
     background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
     linear-gradient(-45deg, #ccc 25%, transparent 25%),
     linear-gradient(45deg, transparent 75%, #ccc 75%),
     linear-gradient(-45deg, transparent 75%, #ccc 75%);
     background-size: 10px 10px;
     background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
 }

.overflow-y-auto::-webkit-scrollbar {
    width: 4px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #ebebeb;
    border-radius: 4px;
    position: relative;
}

/* Custom Thumb Styling */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #37495d;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    transition: background 0.2s ease;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #37495d;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    transition: background 0.2s ease;
}

/* Thumb Hover Effect */
input[type="range"]:hover::-webkit-slider-thumb {
    background: #5f6c7d; /* Lighter color when hovered */
}

input[type="range"]:hover::-moz-range-thumb {
    background: #5f6c7d; /* Lighter color when hovered */
}

/* Active range track color */
input[type="range"]:active {
    background: #d1d5db; /* Darker gray when the range is active */
}