.single-panel#drawing .panel-body .brush-view .background-image {
    background-image: url(../../../images/brush-background.jpg);
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}


.single-panel#drawing .panel-body .brush-view .background-image .draw-circle-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-panel#drawing .panel-body .brush-view .background-image .draw-circle {
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    filter: blur(5px);
}