.single-panel#uploads .media-component {
    max-height: 35vh;
    height: fit-content;
}

.single-panel#uploads .media-component .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 10px;
    grid-auto-rows: minmax(95px, auto);
    overflow: auto;
    max-height: 35vh;
    overflow-x: hidden;
}

.single-panel#uploads .media-component .items .item {
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: none;
    min-height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 120px;
}

.single-panel#uploads .media-component .items .item img {
    filter: brightness(0.9);
    border-radius: 5px;
}

.single-panel#uploads .media-component .items .item .delete-btn {
    position: absolute;
    bottom: 0px;
    right: 0px;

    display: flex;
    background: white;
    padding: 8px;
    border: none !important;
    border-top-left-radius: 4px;
    display: none;
}

.single-panel#uploads .media-component .items .item:hover .delete-btn {
    display: flex;
}

.single-panel#uploads .media-component .items:not(:empty)~.more {
    visibility: hidden;
    display: none;
}

.single-panel#uploads .media-component #file-upload-con:empty+.more {
    visibility: visible !important;
    margin: auto;
}


.filter-previews {
    display: flex;
    overflow: auto;
    gap: 11px;
}

.filter-previews .single-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter-previews .single-filter .preview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-previews .single-filter .preview-image {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
}