/* context menu */
.context-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
}

.context-menu.active {
    display: block;
}


.context-menu ul {
    margin: 0;
    padding: 5px 0;
    background: var(--btnColor);
    width: 250px;
    color: #eeeeee;
    box-shadow: 1px solid #000a;
    border-radius: 3px;
    box-shadow: 0 0 20px var(--btnColor);
}


.context-menu ul li {
    list-style: none;
    padding: 8px 15px;
    font-family: var(--fontFamily);
    font-size: 14px;
    cursor: context-menu;
    cursor: pointer;
    color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.context-menu ul li[data-for] {
    display: none;
}

.context-menu ul li:hover {
    background: var(--btnHoverColor);
    color: white;
}

.context-menu ul li .left-side {
    display: flex;
    align-items: center;
    gap: 5px;
}

.context-menu hr {
    background-color: #fff1;
}

.context-menu li.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.context-menu .shortcut-key {
    font-size: 11px;
    opacity: 0.5;
}


/* #region Lock/Unlock */
.context-menu ul li[data-target="object_lock"][data-locked="false"] .unlock {
    display: none;
}

.context-menu ul li[data-target="object_lock"][data-locked="true"] .lock {
    display: none;
}

/* #endregion Lock/Unlock */

/* #region Group */

.context-menu ul li[data-target="group"][data-group="false"] .ungroup {
    display: none;
}

/* Hide Group label and icon when objects are already grouped */
.context-menu ul li[data-target="group"][data-group="true"] .group {
    display: none;
}

/* #endregion Group */