.quick-options-bar {
    height: fit-content;
    background: white;
    padding: 11px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ddd;
    position: absolute;
    top: 15px;
    z-index: 99999;
}

.quick-options-bar .alignment-btns {
    display: flex;
    gap: 10px;
    align-items: center;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}

.quick-options-bar .single-tool {
    cursor: pointer;
}

.quick-options-bar .single-tool svg path,
.quick-options-bar .single-tool svg {
    fill: var(--content-color);
}

.quick-options-bar .alignment-btns[disabled] .single-tool svg,
.quick-options-bar .single-tool[disabled] svg path {
    opacity: 0.5;
}