/* #region Shadow */
.shadow-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shadow-container .default-shadow-con {
    display: flex;
    margin-top: 12px;
}

.shadow-container .default-shadow-con .d-shadow {
    padding: 16px;
    background: var(--contentBgColor);
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
}

.shadow-container .default-shadow-con .d-shadow.shadow-soft {
    box-shadow: 0 0 25px #000a;
}

.shadow-container .default-shadow-con .d-shadow.shadow-regular {
    box-shadow: 5px 1px 10px #000a;
}

.shadow-container .default-shadow-con .d-shadow.shadow-retro {
    box-shadow: 2px 2px 2px var(--contentBgColorH);
}

.shadow-container .default-shadow-con .d-shadow:hover {
    background: var(--contentBgColorH);
}

.shadow-container .default-shadow-con .shadow-con .shadow-name {
    color: var(--textColor);
    font-size: 11px;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    font-family: sans-serif;
}

.shadow-container .default-shadow-con .shadow-con {
    display: flex;
    flex-direction: column;
}

.shadow-container .default-shadow-con span.shadow-none.d-shadow:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #999;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    text-align: center;
    left: 0px;
}


/* #endregion Shadow */